.App {
  margin-top: 60px;
}

/* homepage css*/
.homePage {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Not Found page css */
.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.notFound {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-image: url(./components/404-error-page-not-found.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* about page */
.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* teachers students forms css*/
.AddBtn button {
  margin: 30px 50px 30px;
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  padding-top: 100px;
}

.Input {
  width: 50%;
}

.Btn {
  width: 20%;
}

@media only screen and (max-width:786px) {
  .Input {
    width: 80%;
  }

  .Btn {
    width: 30%;
  }
}


/* Card Builder css*/
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card {
  width: 300px;
  height: min-content;
}

@media only screen and (min-width:844px) {
  .card {
    width: 500px;
    height: min-content;
  }
}